---
---

@import "{{ site.theme }}";
@import "admonitions";
@import url('https://fonts.googleapis.com/css2?family=Mada:wght@200..900&display=swap');

/* Set font for Jawi and Arabic */
*:lang(ms-Arab),*:lang(ar) {
  font-family: "Mada", "Noto Sans", sans-serif;
  font-size: 1.175em;
  direction: rtl;
}

/* Align float for images */
img[alt$=">"] {
  float:right;
  padding: 1em;
}

img[alt$="<"] {
  float:left;
  padding: 1em;
}

img[alt$="<>"] {
  display: block;
  max-width: 100%;
  padding: 1em;
  height: auto;
  margin: auto;
  float: none!important;
}

/* Custom emoji base */
.emoji,.emoji-lg,.emoji-md,.emoji-sm,.emoji-xl {
  width:1em;
  height:1em;
  position:relative;
  top:.15em;
  display:inline-block;
  background-size:contain;
  background-repeat:no-repeat;
  background-position:0;
}
.emoji-sm{width:16px;height:16px}
.emoji-md{width:24px;height:24px}
.emoji-lg{width:32px;height:32px}
.emoji-xl{width:64px;height:64px}

/* Custom emoji for website */
.emoji-nsr{background-image:url(/assets/img/rail-lines/24px/mrtc-north-south-rail.png)}
.emoji-ewr{background-image:url(/assets/img/rail-lines/24px/mrtc-east-west-rail.png)}
.emoji-pfl{background-image:url(/assets/img/rail-lines/24px/fulahm-railways-paddy-field-line.png)}
.emoji-ael{background-image:url(/assets/img/rail-lines/24px/richardrail-airport-express-line.png)}
.emoji-trl{background-image:url(/assets/img/rail-lines/24px/richardrail-trunk-line.png)}
.emoji-tml{background-image:url(/assets/img/rail-lines/24px/yuitrans-tenma-line.png)}
.emoji-volans{background-image:url(/assets/img/rail-networks/24px/volans-railway.png)}
.emoji-lacon{background-image:url(/assets/img/rail-networks/24px/lacon-network-white-background.png)}
.emoji-mrtc{background-image:url(/assets/img/rail-networks/24px/mainline-railway-transit-corporation.png)}
.emoji-nether{background-image:url(/assets/img/marks/24px/nether-portal.png)}
.emoji-transfer{background-image:url(/assets/img/marks/24px/person-transfer.png)}

/* Image lightbox */
.imagelightbox {
  background: rgba(0, 0, 0, 0.8);
  display: none;
  position: fixed;
  z-index: 1000;
}

.imagelightbox:target {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
  top: 0;
}

.imagelightbox img {
  border-radius: 1em;
  display: block;
  margin: auto;
  max-height: 100vh;
  max-width: 120vh;
}

.imagelightbox .close {
  color: #fff;
  font-size: 4em;
  height: 1em;
  position: fixed;
  right: 0;
  top: 0;
  width: 1em;
  z-index: 1001;
}

.imagelightbox p {
  font-size: 2em;
  text-align: center;
  color: white;
}

/* Infobox */
.infobox{
    float: right;
    clear: right;
    width: auto;
    background: none;
    padding: 5px 5px 5px 5px;
    margin: 0.5em;
    border: 1px solid #727272;
    font-size: 0.8em;
    text-align: center;
}

.infobox[data-title]::before {
  content: attr(data-title);
  display: block;
  font-weight: bold;
  padding: 3px;
  font-size: 1.2em;
  text-align: center;
}

/* Layout width override */
.wrapper {
  width: 900px;
}

header {
  width:200px;
}

section {
  width:650px;
}

footer {
  width:200px;
}

@media print, screen and (max-width: 960px) {
  div.wrapper {
    width:auto;
  }

  header, section, footer {
    width:auto;
  }
}

/* Fix issues with table */
table {
  display: block;
  overflow-x: auto;
}
