---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Mada:wght@200..900&display=swap');

/* Set font for Jawi and Arabic */
*:lang(ms-Arab),*:lang(ar) {
  font-family: "Mada", "Noto Sans", sans-serif;
  font-size: 1.175em;
  direction: rtl;
}

/* Align float for images */
img[alt$=">"] {
  float:right;
  padding: 1em;
}

img[alt$="<"] {
  float:left;
  padding: 1em;
}

img[alt$="<>"] {
  display: block;
  max-width: 100%;
  padding: 1em;
  height: auto;
  margin: auto;
  float: none!important;
}

/* Custom emoji base */
.emoji,.emoji-lg,.emoji-md,.emoji-sm,.emoji-xl {
  width:1em;
  height:1em;
  position:relative;
  top:.15em;
  display:inline-block;
  background-size:contain;
  background-repeat:no-repeat;
  background-position:0;
}
.emoji-sm{width:16px;height:16px}
.emoji-md{width:24px;height:24px}
.emoji-lg{width:32px;height:32px}
.emoji-xl{width:64px;height:64px}

/* Custom emoji for website */
.emoji-nsr{background-image:url(/assets/img/rail-lines/64px/mrtc-north-south-rail.png)}
.emoji-ewr{background-image:url(/assets/img/rail-lines/64px/mrtc-east-west-rail.png)}
.emoji-pfl{background-image:url(/assets/img/rail-lines/64px/fulahm-railways-paddy-field-line.png)}
.emoji-ael{background-image:url(/assets/img/rail-lines/64px/richardrail-airport-express-line.png)}
.emoji-trl{background-image:url(/assets/img/rail-lines/64px/richardrail-trunk-line.png)}
.emoji-tml{background-image:url(/assets/img/rail-lines/64px/yuitrans-tenma-line.png)}
.emoji-volans{background-image:url(/assets/img/rail-networks/64px/volans-railway.png)}
.emoji-lacon{background-image:url(/assets/img/rail-networks/64px/lacon-network-white-background.png)}

/* Image lightbox */
.imagelightbox {
  background: rgba(0, 0, 0, 0.8);
  display: none;
  position: fixed;
  z-index: 1000;
}

.imagelightbox:target {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
  top: 0;
}

.imagelightbox img {
  border-radius: 1em;
  display: block;
  margin: auto;
  max-height: 100vh;
  max-width: 120vh;
}

.imagelightbox .close {
  color: #fff;
  font-size: 4em;
  height: 1em;
  position: fixed;
  right: 0;
  top: 0;
  width: 1em;
  z-index: 1001;
}

.imagelightbox p {
  font-size: 2em;
  text-align: center;
  color: white;
}
