<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/fontawesome.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/fontawesomesolid.css?v=" | append: site.github.build_revision | relative_url }}">
    {% if page.multilingual %}<link rel="stylesheet" href="{{ "/assets/css/langsel.css?v=" | append: site.github.build_revision | relative_url }}">{% endif %}
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}
        <p>{{ site.description | default: site.github.project_tagline }}</p>
      </header>
      <section>
      {% if page.multilingual %}
      {% assign individuallanguage = page.multilingual | split: ", " %}
        <div id="languageselection">
        {% for indlang in individuallanguage %}
        <a
          href="#"
          id="button-{{indlang}}"
          class="button-{{indlang}}"
          lang="{{indlang}}"
          onclick="toggleLanguage('{{indlang}}');return false;">
        {% case indlang %}
          {% when "en" %}
            English
          {% when "ms" %}
            Bahasa Melayu
          {% when "ms-Arab" %}
            بهاس ملايو
          {% when "ja" %}
            日本語
          {% when "zh" %}
            中文
          {% when "zh-Hans" %}
            简体中文
          {% when "zh-Hant" %}
            繁體中文
          {% when "ko" %}
            한국어
          {% when "ar" %}
            العربية
        {% endcase %}
        </a>
        {% endfor %}
        </div>
      {% endif %}
      {% capture content %}{% include admonitions.liquid html=content %}{% endcapture %}
      {{ content }}
      </section>
      <footer>
        <p>
          This website is maintained by the players of TSC Minecraft server.
          <br/>NOT AN OFFICIAL MINECRAFT SERVICE. NOT APPROVED BY OR
          ASSOCIATED WITH MOJANG OR MICROSOFT.
        </p>
        <p><small>
          Hosted on GitHub Pages &mdash; Theme is modified from the
          <a href="https://github.com/pages-themes/minimal">Minimal</a> theme
          by <a href="https://github.com/orderedlist">orderedlist</a><br/>
          {% if page.url contains ".html" -%}
          <a href="https://github.com/TSCMC/TSCMC.github.io/blob/main{{ page.url | remove: ".html"}}.md?plain=1">View page source</a> &#124;
          <a href="https://github.com/TSCMC/TSCMC.github.io/edit/main{{ page.url | remove: ".html"}}.md">Edit page</a>
          {% else -%}
          <a href="https://github.com/TSCMC/TSCMC.github.io/blob/main{{ page.url }}index.md?plain=1">View page source</a> &#124;
          <a href="https://github.com/TSCMC/TSCMC.github.io/edit/main{{ page.url }}index.md">Edit page</a>
          {% endif -%}
        </small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    <script src="/assets/js/imojify.js"></script>
    <script>
      imojify('body');
    </script>
    {% if page.multilingual %}
    <script>
      function toggleLanguage(langid) {
        var alldiv = document.getElementsByTagName("div");
        for (let i = 0; i < alldiv.length; i++) {
          var curdiv = alldiv[i];
          if (curdiv.hasAttribute("lang")) {
            if (curdiv.getAttributeNode("lang").value == langid)
              curdiv.style.display = "inherit";
            else
              curdiv.style.display = "none";
          }
        }
        var allinfobox = document.getElementsByClassName("infobox");
        if (allinfobox.length>0){
          var allbody = document.getElementsByTagName("body");
          if (langid == "ms-Arab" || langid == "ar") {
            for (let i = 0; i < allinfobox.length; i++) {
              allinfobox[i].style.float = "left";
              allinfobox[i].setAttribute("dir", "rtl");
            }
            for (let i = 0; i < allbody.length; i++) {
              allbody[i].style.fontSize = "16px";
            }
          } else {
            for (let i = 0; i < allinfobox.length; i++) {
              allinfobox[i].style.float = "right";
              allinfobox[i].removeAttribute("dir");
            }
            for (let i = 0; i < allbody.length; i++) {
              allbody[i].style.fontSize = "14px";
            }
          }
        }
      }
    </script>
    {% endif %}
  </body>
</html>
